.profileComponent {
  .button__firstDiv {
    font-size: 1.08333rem;
    text-transform:capitalize;
    text-align: center;
    padding: 10px;
    transition: all 0.25s ease-in 0s;
    border-radius: 3px;
    // box-shadow: rgb(0 0 0 / 11%) 0px 1px 1px 0px;
    // width: 20%;
    min-width: 90px;
    background: #f1f3fa ;
    color: rgb(64, 69, 83);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 229, 241);
  }
  .ant-card-head {
    background-color: #f1f3fa !important;
  }
  // .ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
  .ant-btn[disabled],
  .ant-btn[disabled]:hover,
  .ant-btn[disabled]:focus,
  .ant-btn[disabled]:active {
    border-color: #f1f3fa;
    background: #f1f3fa;
  }
}
.button__firstDiv {
  font-size: 1.08333rem;
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
  transition: all 0.25s ease-in 0s;
  border-radius: 3px;
  // box-shadow: rgb(0 0 0 / 11%) 0px 1px 1px 0px;
//   width: 20%;
  min-width: 90px;
  color: rgb(64, 69, 83);
  //   background-color: rgb(255, 255, 255);
  background: #f1f3fa !important;
  border: 1px solid rgb(226, 229, 241);
}
.ant-card-head {
  background-color: #f1f3fa !important;
}

.ant-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
  padding: 10px;
  background: #f1f3fa;
}
