.User-Header{
.first__navbar {
  background-color: rgb(254, 238, 0);
}
ul {
  width: 100%;
  align-items: center;
}
li {
  display: flex;
  align-items: center;
}

span {
  font-weight: 600;
}

li.header__li__search {
  width: 50%;
  padding: 0 30px;
  flex: 1;
}
.header__search {
  width: 100%;
  height: 36px;
  padding: 12px;
  border: 0px;
  border-radius: 5px;
  outline: none;
}

li.language::after,
li.sign-in::after {
  content: "";
  position: relative;
  width: 0.5px;
  height: 20px;
  background-color: #0003;
}
}