// footer
// {
//   font-size: 13px;
//   div{
//     padding: 12px 30px
//   }
// }
.mainFooter{
  h6{
    margin-top: 10px ;
}

.first__footer{
    border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    .paras{
      color: rgb(126, 133, 155);
      p:first-child{
        font-size: 17px;
        font-weight: 700;
        color: rgb(64, 69, 83);
      }
      p:last-child{
        font-size: 12px;
        margin: 0;
      }
    }
  }
  .first__footer__help{
  
      div:first-of-type{
        // margin: 5px 10px;
        width:35px;
        height:35px;
        border-radius: 50%;
        background-color: #fff;
        svg{
            position: relative;
            top: 4px;
            left: 1.5px;
        }
      }
      div:nth-of-type(2){
        margin: 5px 10px ;
        span:first-of-type{
          font-weight: 600;
          font-size:10px;
          color: rgb(126, 133, 155)
        }
        a{
          font-weight: 500;
          font-size: 16px;
          text-decoration: none;
          color: #000;
        }
        a:hover{
          // font-weight: 500;
          // font-size: 15px;
          // text-decoration: none;
          color:#636364
        }
      }
  
  }
  .second{
    margin: 0 25px;
  }
  
}
